/* Typography */

html {
	font-family: 'Reem Kufi', sans-serif;
	color: #ffffff;
	background: #485564;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

/* Custom Styles */

.landing-page, .landing-page main {
    display: flex;
    justify-content: center;
}

.landing-page {
    min-height: 100vh;
    flex: 0 1 auto;
    flex-direction: column;
}

.content-grid {
	margin: 0 auto;
	width: calc(100% - 5rem);
	flex: auto;
}

@media (min-width: 426px) {
	.content-grid {
		width: calc(100% - 5rem);
	}
	.portfolio-item {
		width: calc(100% - 1rem);
	}
}

@media (min-width: 769px) {
	.content-grid {
		width: calc(100% - 10rem);
	}
}

@media (min-width: 1025px) {
	.content-grid {
		width: calc(100% - 20rem);
	}
}

.icons-social i {
	font-size: 3em;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-weight: 300;
	background-color: rgba(75, 85, 100, 0.85);
}

main > .menu {
	margin-right: 1rem;
	display: flex;
	flex: 1 1;
	justify-content: flex-end;
}

nav .menu {
	margin-right: 1rem;
	display: flex;
	flex: 1 1;
	justify-content: flex-end;
}

nav .menu-item {
	padding: .25rem 0;
	margin: 0 0.5rem;
	font-size: 1.25rem;
	font-weight: 400;
	border-bottom: 2px solid transparent;
}

nav .menu-item:hover {
    cursor: pointer;
}

.paper-link {
	text-decoration: #ffffff;
}

.paper-link:hover {
	border-bottom: 1px solid #ffffff;
}

.menu-item:hover {
    border-bottom: 2px solid #ffffff;
}

.about-page h1,
.portfolio-page h1,
.education-page h1,
.research-page h1 {
	font-size: 3rem;
	font-weight: 900;
}

.about-page,
.portfolio-page,
.education-page,
.research-page {
	padding-top: 4rem;
	min-height: 100vh;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
}

.about-page .about-wrapper .about-content {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.about-page .about-wrapper .about-content p {
	font-weight: 300;
    padding: .5rem 0;
}

.portfolio-page .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
  background-color: #FAFAFA;
	color: #485564;
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	transition: box-shadow .25s,-webkit-box-shadow .25s;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12),0 2px 1px -2px rgba(0,0,0,.2);
	width: 16rem;
	margin: 1rem;
}

.portfolio-item__title {
    flex: 1 1;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}

.portfolio-item__desc {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.25rem;
}

.portfolio-item__icon {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}

.portfolio-item__links {
    padding: 0 0 .75rem;
    display: flex;
    justify-content: space-around;
    font-size: .875rem;
    font-weight: 400;
}

.education-item__icon svg,
.portfolio-item__icon svg {
    margin: 0.25rem;
}

.education-page .education-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.education-item {
	display: flex;
	flex-direction: column;
  background-color: #FAFAFA;
	color: #485564;
	border-radius: 2px;
	transition: box-shadow .25s,-webkit-box-shadow .25s;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12),0 2px 1px -2px rgba(0,0,0,.2);
	width: 32rem;
	margin: 1rem;
}

.education-item__title {
    flex: 1 1;
    padding: 1rem 1.5rem;
    font-size: 1.225rem;
    font-weight: 400;
}

.education-item__desc {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.25rem;
}

.education-item__icon {
    padding: 0 1.5rem;
    font-size: 1.5rem;
	font-weight: 100;
}

.education-item__links {
    padding: 0 0 .75rem;
    display: flex;
    justify-content: space-around;
    font-size: .875rem;
    font-weight: 400;
}

.scroll {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
  position: fixed;
  bottom: 0;
	cursor: pointer;
	font-size: 0.75rem;
	right: 0;
}

.scroll .arrow-right {
	flex: 0 0 auto;
  text-align: center;
  right: 0;
  padding: .5rem 1rem;
}

/* .fa-angle-double-down {
	animation: bounce 0.25s infinite alternate;
} */

.scroll .arrow-left {
	flex: 0 0 auto;
  text-align: center;
	left: 0;
	padding: .5rem 1rem;
}

@keyframes bounce {
	from {
	  transform: translateY(0px);
	}
	to {
	  transform: translateY(-10px);
	}
}

bibtex {
	display: none;
}

#bibtex_errors {
	margin-top: 10px;
	color: red;
}

div.bibtexVar {
	margin: 0.5rem;
}

h1.header {
	margin-left:8px;
}

h1.YEAR {
	font-size: 1.75rem;
	font-weight: bold;
	display: inline;
	margin-left:8px;
}

.collapse {
	display: none;
	opacity: 0;
}

ul {
	padding: 0.5rem;
}

.well {
	padding: 0 0.5rem;
  background-color: #f1f1f1;
	border: 1px solid #e3e3e3;
	color: #485564;
  border-radius: 4px;
	box-shadow: inset 0 1px 1px #d3d3d3;
	animation: slide-down .2s ease-out;
	overflow-y: auto;
}

@keyframes slide-down {
	0% { opacity: 0; -webkit-transform: translateY(0); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}

footer {
    padding: .5rem 0;
    text-align: center;
    font-size: .8rem;
}
