{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mr-3' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

<div class="locale">
  <a class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed" href="javascript:void(0)" onclick="translatePage(this)" value="en">en</a>
  <a class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed" href="javascript:void(0)" onclick="translatePage(this)" value="pt">pt</a>
</div>

<img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 150px;">
<h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed" style='font-weight: 300'>{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h1>
<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  {{ user.bio }}
</p>

{% if include.metadata %}
  <div class="f4 mb-6">
    {% if user.email %}
      <div class="{{ metadata_styles }}">
        {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
        <a href="mailto:{{ user.email }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          {{ user.email }}
        </a>
      </div>
    {% endif %}
    <div class="icons-social {{ metadata_styles }}">
      <a style="font-size: 32px;" title="GitHub" target="_blank" href="https://github.com/herodrigues"><i class="fab fa-github fa-fw"></i></a>
  		<!-- <a style="font-size: 32px;" title="Stack Overflow" target="_blank" href="https://stackoverflow.com/story/herodrigues"><i class="fab fa-stack-overflow  fa-fw"></i></a>
  		<a style="font-size: 32px;" title="Medium" target="_blank" href="https://medium.com/@herodrigues"><i class="fab fa-medium fa-fw"></i></a>-->
  		<a style="font-size: 32px;" title="Lattes" target="_blank" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4325996A4"><i class="fac fa-lattes fa-fw"></i></a>
  		<a style="font-size: 32px;" title="Upwork" target="_blank" href="https://www.upwork.com/o/profiles/users/_~0198e6ab09ec56dbda/"><i class="fac fa-upwork fa-fw"></i></a>
      <!--<a style="font-size: 32px;" title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/herinson"><i class="fab fa-linkedin fa-fw"></i></a>-->
    </div>
    {% if user.location %}
      <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
        {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
        {{ user.location }}
      </div>
    {% endif %}
    {% if user.hireable %}
      <span title="Hire me" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2">Available for hire</span>
    {% endif %}
  </div>
{% endif %}

<a href="portfolio"><h3 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed" style='font-weight: 300'  data-i18n="__MSG_PORTFOLIO__"></h3></a>
<a href="education"><h3 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed" style='font-weight: 300'  data-i18n="__MSG_EDUCATION__"></h3></a>
<a href="research"><h3 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed" style='font-weight: 300'  data-i18n="__MSG_RESEARCH__"></h3></a>
