<h2 {% if site.style == 'dark' %}class="text-white"{% endif %} data-i18n="__MSG_MYPROJECTS__"></h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}" data-i18n="__MSG_MYPROJECTS_HEADLINE__"></p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% assign public_repositories = site.github.public_repositories | where:'fork', false | sort: 'stargazers_count' | reverse %}
  {% for repository in public_repositories limit: 9 %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include repo-card.html %}
    </div>
  {% endfor %}
</div>
